body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #87CEFA, #4682B4);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 70%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    margin-bottom: 20px;
}

.additional-fields {
    display: flex;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
button {
    width: calc(100% - 16px);
    /* 100% szélesség mínusz padding (8px mindkét oldalon) és border (1px mindkét oldalon) */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.games-container {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

th {
    background-color: #007BFF;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(0deg, #87CEFA, #4682B4);
    /* Vízszintes gradient háttér a menühöz */
    text-align: center;
    /* Középre igazítás */
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 1.5em;
}

li a:hover {
    background-color: #4682B4;
}