.text {
  padding: 1% 5%;
  color: white;
}

.image-link {
  display: flex;
  align-items: center;
}

.image-link img {
  margin-right: 10px;
  transition: transform 0.5s ease;
}

.image-link a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
  font-size: 30px;
}

.image-link a:hover {
  text-decoration: underline;
}