body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(0deg, #87CEFA, #4682B4);
  text-align: center;
}

#menu li {
  display: inline-block;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 1.5em;
}

#menu li a:hover {
  background-color: #4682B4;
}

.header {
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 2em;
}

.main {
  padding: 1% 5%;
  color: white;
}